export(ferols)
export(generate_panel_data)
S3method(vcov, ferols)
S3method(summary, ferols)
S3method(print, ferols)
importFrom(stats, as.formula, rnorm, coef, residuals, vcov, model.matrix, model.frame, pt, qnorm, median, uniroot, pnorm, dnorm)
